export WANDB_ENTITY=some_user
export WANDB_PROJECT=ee_eval
export RUNS_DIR='/shared/results/ee_eval_runs'
export RESULTS_DIR='/shared/results/ee_eval_results'
export LOGS_DIR='/shared/results/ee_eval_logs'
export MNIST_PATH=$HOME/datasets/mnist
export CIFAR10_PATH=$HOME/datasets/cifar10
export CIFAR100_PATH=$HOME/datasets/cifar100
export TINYIMAGENET_PATH=/shared/sets/datasets/tiny-imagenet-200
export IMAGENET_PATH=/shared/sets/datasets/vision/ImageNet
export CUBBIRDS_PATH=/shared/sets/datasets/vision/CUB-200
export FOOD101_PATH=/shared/sets/datasets/vision/food_101